.App {
  font-family: "Baloo Tamma 2", cursive;
  background-color: rgb(207, 207, 207);
}

.App-header {
  padding: 20px;
  background-color: rgb(207, 207, 207);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-header {
  border-bottom: 3px solid black;
}

.logo div {
  height: 35px;
}

.logo {
  padding-bottom: 10px;
}

.blueLine {
  height: 30px;
  background-color: #03045e;
  text-align: left;
}

.square {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 3px;
}

.yellowSquare {
  background-color: yellow;
}

.greenSquare {
  background-color: green;
}

.inputHolder {
  display: flex;
  vertical-align: bottom;
}

.logo_homepage_link {
  text-decoration: none;
}
.logo_homepage_link:visited {
  color: black;
}

input {
  height: 20px;
  margin-top: 50px;
}

.content {
  background-color: rgb(207, 207, 207);
  height: 100%;
}

ul {
  margin: 0;
}

.photoMovie {
  width: 300px;
  height: auto;
}

.img__wrap {
  position: relative;
  height: 168px;
  width: 300px;
  display: inline-block;
  padding: 10px;
}

.img__description_layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(207, 207, 207, 0.6);
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__wrap:hover .img__description_layer {
  visibility: visible;
  opacity: 1;
}

.img__description {
  transition: 0.2s;
  transform: translateY(1em);
}

.img__wrap:hover .img__description {
  transform: translateY(0);
}

.Detailed_View {
  display: flex;
}

.poster {
  padding: 20px;
}

.Detailed_Texts {
  max-width: 700px;
}

.stars {
  text-align: right;
}

.stars ul {
  list-style-type: none;
  margin-top: 30px;
}

.stars ul li {
display: inline;
margin-right: 10px;
}

h1 {
  margin-bottom: 0px
}

.Title_Stars {
  display: flex;
  justify-content: space-between;
}

.stars ul li::before {
  content: "\f006";
  font-family: FontAwesome;
  font-size: 40px;
  color: #a07b16;
  margin-right:0;
}

.stars ul li {
  unicode-bidi: bidi-override;
  z-index: 10;
  content: "\f005";
  font-family: FontAwesome;
  font-size: 40px;
  cursor: pointer;
}