.App {
  font-family: 'Baloo Tamma 2', cursive;
}

.App-header {
  padding: 20px;
  background-color: rgb(207, 207, 207);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.App-header{
  border-bottom: 3px solid black;
}

.logo div {
  height: 35px;
}

.logo {
  padding-bottom: 10px;
}

.blueLine {
  height: 30px;
  background-color: #03045e;
  text-align: left;
}

.square {
  background-color: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin: 5px 3px;
}

.yellowSquare {
  background-color: yellow;
}

.greenSquare {
  background-color: green;
}

.inputHolder {
  display: flex;
  vertical-align: bottom;
}

input {
  height: 20px;
  margin-top: 50px;
}

.content {
  background-color: rgb(207, 207, 207);
  height: 100%;
}

ul {
  margin: 0;
}


.photoMovie {
  width: 300px;
  height: auto;
  padding: 10px;
}